@{
    ViewBag.Title = "Offers";
    Layout = "~/Views/Shared/AdminNavBar.cshtml";
}


 <body >
      <div>
            <label class="text-center" style="font-size:70px;font-family:Stencil;color:deepskyblue;width:100%;"> Collection</label>
        </div>
        <br>
        <br />
        <div style="margin-top: 5%; margin-left: 10%; width: 30%; height: 40%">
            <a class="" href="~/AdminPanel/DressAdmin" style="font-family:castellar; color: deepskyblue;font-style: italic; font-weight: bolder">Dress</a>
            <img src="/Images/dress.jpg" style="width: 200px; height: 200px" />


        </div>
        <div style="margin-top: -15%; margin-left: 50%; width: 30%; height: 40%">
            <a class="" href="~/AdminPanel/JewelleryAdmin" style="font-family:castellar; color:deepskyblue;font-style: italic; font-weight: bolder"> Jewellery</a>
            <img src="/Images/ring.jpg" style="width: 200px; height: 200px" />

        </div>
        <div style="margin-top: 5%; margin-left: 10%; width: 30%; height: 40%">
            <a class="" href="~/AdminPanel/ShoesAdmin" style="font-family:castellar; color: deepskyblue;font-style: italic; font-weight: bolder">Shoes</a>
            <img src="/Images/shose.jpg" style="width: 200px; height: 200px" />

        </div>

    </body>



