@using Tabi.Models
@model IEnumerable< Item>

@{
    Layout = "~/Views/Shared/AdminNavBar.cshtml";
}
<body>
    <div>
            <label class="text-center" style="font-size:70px;font-family:Stencil;color:deepskyblue;width:100%;">Delete</label>
        </div>
        <br>
        <br />
        <div class="container well well-sm col-lg-8" style="margin-left:15%">
        <table class="table" style="border:solid">

            <thead>
                <tr class="btn-primary" style="text-align:center">

                    <th>ID</th>
                    <th>Name</th>

                    <th>Delete</th>
                </tr>
            </thead>

            @foreach (Item obj in Model)
            {
                    <tr>
                        <td>@obj.Id</td>
                        <td>@obj.Name</td>

                        
                        <td><a href="/AdminPanel/deleteForm/@obj.Id">Delete</a></td>
                    </tr>
                
            }


        </table>
    </div>
</body>