@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/UserNavBar.cshtml";

}
<body>
 <div>
            <label class="text-center" style="font-size:70px;font-family:Stencil;color:deepskyblue;width:100%;"> Search</label>
        </div>
        <br>

        <br />

    <form  action="/User/GetAll" method ="post">

    <input style="margin-left:40%" type="text" name = "id" placeholder="Search by price"/>
        </form>
    </body>
