@{
    ViewBag.Title = "Home";
}

<body>
    <h1 style="color:deepskyblue">Welcome to Online Shopping!</h1>
    <div class="panel-body">
        <div id="slider" class="action  hide-from-mobile">
            <img src="~/Images/a.jpg" alt="Shoes">
            <img src="~/Images/j.jpg" alt="Dress">
            <img src="~/Images/c.jpg" alt="Women">
            <img src="~/Images/d.jpg" alt="Shoes">
            <img src="~/Images/e.jpg" alt="Ring">
            <img src="~/Images/f.jpg" alt="Clothes">
            <img src="~/Images/g.jpg" alt="Braslate">
            <img src="~/Images/h.jpg" alt="Shoes">
            <img src="~/Images/i.jpg" alt="Man">
            <img src="~/Images/j.jpg" alt="Man">
            <img src="~/Images/k.jpg" alt="Dress">
            <img src="~/Images/l.jpg" alt="Dress">
            <img src="~/Images/m.jpg" alt="Ring">
            <img src="~/Images/n.jpg" alt="Ring">
            <img src="~/Images/o.jpg" alt="Shoes">
            <img src="~/Images/p.jpg" alt="Ring">

        </div>


    </div>
</body>

